.searchmodel{
    position: fixed;
    margin-top: 185px;
    z-index: 500;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    left: 5%;
    padding: 30px;
    width: 40%;
    top: 2%;
    transition: all 0.3s ease-out;
    background-color: beige;
    border-radius: 10px;
    box-shadow:
                0 2.8px 2.2px rgba(0, 0, 0, 0.04),
                0 6.7px 5.3px rgba(0, 0, 0, 0.04),
                0 12.5px 10px rgba(0, 0, 0, 0.04),
                0 22.3px 17.9px rgba(0, 0, 0, 0.04),
                0 41.8px 33.4px rgba(0, 0, 0, 0.04),
                0 100px 80px rgba(0, 0, 0, 0.04)
    
}